In [1]:
import pandas as pd

In [2]:
sheet_dict = pd.read_excel(r"C:\Users\mchun\CN-ML\time_series\short_com\TG51_SNP_INDEX.xlsx", sheet_name=None)

In [3]:
sheet_dict.keys()

dict_keys(['chr17', 'chr17SNP', 'chr14', 'chr14SNP', 'chr4', 'chr4SNP'])

In [4]:
for sheet in sheet_dict.keys():
    print(sheet_dict[sheet].columns)

Index(['#CHROM', 'pos', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'P1_sorted.bam', 'Pool1_sorted.bam', 'Pool2_sorted.bam'],
      dtype='object')
Index(['chr', 'pos', 'type', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')
Index(['#CHROM', 'pos', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'P1_sorted.bam', 'Pool1_sorted.bam', 'Pool2_sorted.bam'],
      dtype='object')
Index(['chr', 'pos', 'type', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')
Index(['#CHROM', 'pos', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'P1_sorted.bam', 'Pool1_sorted.bam', 'Pool2_sorted.bam'],
      dtype='object')
Index(['chr', 'pos', 'type', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [5]:
g1 = ['chr17', 'chr17SNP']
g2 = ['chr14', 'chr14SNP']
g3 = ['chr4', 'chr4SNP']

In [6]:
for sheet in sheet_dict.keys():
    num_rows = sheet_dict[sheet].shape[0]
    unique_pos_values = len(sheet_dict[sheet]["pos"].unique())
    num_duplicates = num_rows - sheet_dict[sheet]["pos"].nunique()  # Count duplicates based on the "pos" column
    
    print(f"{sheet} has len {num_rows} and has unique values {unique_pos_values}. Number of duplicate values is {num_duplicates}.")

chr17 has len 67278 and has unique values 66959. Number of duplicate values is 319.
chr17SNP has len 3971 and has unique values 3971. Number of duplicate values is 0.
chr14 has len 70600 and has unique values 70318. Number of duplicate values is 282.
chr14SNP has len 3436 and has unique values 3436. Number of duplicate values is 0.
chr4 has len 63155 and has unique values 62900. Number of duplicate values is 255.
chr4SNP has len 63114 and has unique values 62900. Number of duplicate values is 214.

In [22]:
g1_0 = set(sheet_dict[g1[0]].pos.unique())
g1_1 = set(sheet_dict[g1[1]].pos.unique())
g2_0 = set(sheet_dict[g2[0]].pos.unique())
g2_1 = set(sheet_dict[g2[1]].pos.unique())
g3_0 = set(sheet_dict[g3[0]].pos.unique())
g3_1 = set(sheet_dict[g3[1]].pos.unique())

In [23]:
common_pos_g1 = g1_0.intersection(g1_1)
common_pos_g2 = g2_0.intersection(g2_1)
common_pos_g3 = g3_0.intersection(g3_1)

In [29]:
filtered_df_g1_0 = sheet_dict[g1[0]][sheet_dict[g1[0]]['pos'].isin(common_pos_g1)]
filtered_df_g1_1 = sheet_dict[g1[1]][sheet_dict[g1[1]]['pos'].isin(common_pos_g1)]

In [31]:
filtered_df_g1_

,chr,pos,type,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,arahy.Tifrunner.gnm1.Arahy.17,8555,indel,16,9,0.5903,0.4653,0.3750,0.4444,0.0694
1,arahy.Tifrunner.gnm1.Arahy.17,12958,indel,22,15,0.5061,0.3909,0.5455,0.6000,0.0545
2,arahy.Tifrunner.gnm1.Arahy.17,14419,indel,17,27,0.4837,0.3660,0.7059,0.5185,-0.1874
3,arahy.Tifrunner.gnm1.Arahy.17,63285,indel,24,19,0.4671,0.3618,0.5417,0.6316,0.0899
4,arahy.Tifrunner.gnm1.Arahy.17,66010,indel,22,37,0.4386,0.3403,0.3636,0.5676,0.2039
...,...,...,...,...,...,...,...,...,...,...
3966,arahy.Tifrunner.gnm1.Arahy.17,134607957,indel,30,13,0.4923,0.3897,0.5333,0.4615,-0.0718
3967,arahy.Tifrunner.gnm1.Arahy.17,134659807,indel,9,9,0.6667,0.5556,0.5556,0.2222,-0.3333
3968,arahy.Tifrunner.gnm1.Arahy.17,134808847,indel,30,26,0.4462,0.3410,0.9000,0.5385,-0.3615
3969,arahy.Tifrunner.gnm1.Arahy.17,134861480,indel,13,8,0.6154,0.4712,0.6923,0.6250,-0.0673
3970,arahy.Tifrunner.gnm1.Arahy.17,134906730,indel,37,30,0.4297,0.3234,0.6216,0.5333,-0.0883

In [32]:
df_merged = pd.merge(filtered_df_g1_1, filtered_df_g1_0, on='pos', how='outer')
df_merged

,chr,pos,type,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,P1_sorted.bam,Pool1_sorted.bam,Pool2_sorted.bam
0,arahy.Tifrunner.gnm1.Arahy.17,8555,indel,16,9,0.5903,0.4653,0.3750,0.4444,0.0694,...,.,TAAAAA,TAAAAAA,241.0000,.,INDEL;IDV=13;IMF=0.8125;DP=33;VDB=0.00562991;S...,GT:PL:ADF:ADR:AD,"1/1:121,24,0:0,4:0,4:0,8","0/1:100,0,10:2,6:4,4:6,10","0/1:57,0,19:2,4:2,1:4,5"
1,arahy.Tifrunner.gnm1.Arahy.17,12958,indel,22,15,0.5061,0.3909,0.5455,0.6000,0.0545,...,.,AAAAACCCTACAAAACCCTACAAAACCCTA,AAAAACCCTACAAAACCCTA,655.0000,.,INDEL;IDV=11;IMF=1;DP=48;VDB=0.338355;SGB=-4.7...,GT:PL:ADF:ADR:AD,"1/1:255,16,0:0,6:2,3:2,9","0/1:255,0,222:4,6:8,4:12,10","0/1:181,0,192:4,4:5,2:9,6"
2,arahy.Tifrunner.gnm1.Arahy.17,14419,indel,17,27,0.4837,0.3660,0.7059,0.5185,-0.1874,...,.,GAAAAA,GAAAA,192.0000,.,INDEL;IDV=20;IMF=0.740741;DP=62;VDB=0.00403499...,GT:PL:ADF:ADR:AD,"1/1:129,19,0:0,10:4,4:4,14","0/1:29,0,44:4,5:8,0:12,5","0/1:71,0,38:3,12:11,1:14,13"
3,arahy.Tifrunner.gnm1.Arahy.17,63285,indel,24,19,0.4671,0.3618,0.5417,0.6316,0.0899,...,.,TAAAAAAAAAAAA,TAAAAAAAAAA,150.0000,.,INDEL;IDV=21;IMF=0.807692;DP=56;VDB=0.0103589;...,GT:PL:ADF:ADR:AD,"1/1:80,6,0:1,5:1,3:2,8","0/1:62,0,3:3,8:10,3:13,11","0/1:36,0,2:3,6:9,1:12,7"
4,arahy.Tifrunner.gnm1.Arahy.17,66010,indel,22,37,0.4386,0.3403,0.3636,0.5676,0.2039,...,.,ATTTTTTT,ATTTTTT,125.0000,.,INDEL;IDV=30;IMF=0.810811;DP=75;VDB=0.668104;S...,GT:PL:ADF:ADR:AD,"1/1:65,3,0:0,7:5,4:5,11","1/1:59,5,0:2,11:6,3:8,14","0/1:27,0,2:3,15:18,1:21,16"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4024,arahy.Tifrunner.gnm1.Arahy.17,134607957,indel,30,13,0.4923,0.3897,0.5333,0.4615,-0.0718,...,.,ATTTTTTTTTT,ATTTTTTTTT,32.8543,.,INDEL;IDV=26;IMF=0.866667;DP=52;VDB=0.863657;S...,GT:PL:ADF:ADR:AD,"1/1:23,7,0:0,6:3,0:3,6","0/1:24,0,5:5,9:11,5:16,14","1/1:14,0,0:1,7:5,0:6,7"
4025,arahy.Tifrunner.gnm1.Arahy.17,134659807,indel,9,9,0.6667,0.5556,0.5556,0.2222,-0.3333,...,.,CTTTTTTTTTTT,CTTTTTTTTTTTTT,187.0000,.,INDEL;IDV=14;IMF=1;DP=35;VDB=0.713541;SGB=-4.6...,GT:PL:ADF:ADR:AD,"1/1:95,12,0:0,7:4,3:4,10","1/1:38,2,0:1,3:4,1:5,4","1/1:78,10,0:0,4:2,3:2,7"
4026,arahy.Tifrunner.gnm1.Arahy.17,134808847,indel,30,26,0.4462,0.3410,0.9000,0.5385,-0.3615,...,.,AGGGGGGG,AGGGGGGGG,87.0000,.,INDEL;IDV=19;IMF=0.730769;DP=73;VDB=0.445722;S...,GT:PL:ADF:ADR:AD,"1/1:89,17,0:0,7:4,6:4,13","0/0:0,47,69:12,3:15,0:27,3","0/1:39,0,14:4,10:10,2:14,12"
4027,arahy.Tifrunner.gnm1.Arahy.17,134861480,indel,13,8,0.6154,0.4712,0.6923,0.6250,-0.0673,...,.,ACCCCCCCCCCCC,ACCCCCCCCCC,84.0000,.,INDEL;IDV=17;IMF=0.894737;DP=40;VDB=0.63438;SG...,GT:PL:ADF:ADR:AD,"1/1:69,7,0:2,1:1,15:3,16","0/1:26,0,42:2,2:7,2:9,4","0/1:25,0,17:2,1:3,2:5,3"
4028,arahy.Tifrunner.gnm1.Arahy.17,134906730,indel,37,30,0.4297,0.3234,0.6216,0.5333,-0.0883,...,.,GAAAAAAAAAAA,GAAAAAAAAAA,35.4857,.,INDEL;IDV=33;IMF=0.804878;DP=96;VDB=0.183492;S...,GT:PL:ADF:ADR:AD,"1/1:36,11,0:2,9:4,4:6,13","1/1:8,10,0:5,12:18,2:23,14","1/1:17,5,0:4,9:12,5:16,14"